<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>自定义事件</title>
</head>

<body>

  <div id='app'>
    <base-checkbox v-model="flag"></base-checkbox>
    {{flag}}
  </div>


  <template id="tpl">
    <input
        type="checkbox"
        v-bind:checked="checked"
        v-on:change="$emit('change', $event.target.checked)"
      >
  </template>

  <script>
   Vue.component('base-checkbox', {
    model: {
      prop: 'checked',
      event: 'change'
    },
    props: {
      checked: Boolean
    },
    template:  '#tpl'
  })

    const model = {
      flag: true,
    }

    var app = new Vue({
      el: '#app',
      data: model,
      methods: { 
      },
    })
  </script>
</body>

</html>