<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>插槽slot</title>
</head>

<style>
</style>



<body>
    <template id="cpnid">
        <div>
            <h2>section1</h2>
            <slot name="p1">后背内容，没有内容的话用这里的数据</slot>
            <h2>section2</h2>
            <slot name="p2">后背内容，没有内容的话用这里的数据</slot>
            <h2>section3</h2>
            <slot name="p3">后背内容，没有内容的话用这里的数据</slot>
        </div>

    </template>

    <div id='app'>
        <cpn>
            <h3 slot="p1">1</h3>
            <h3 slot="p2">2</h3>
            <!-- <h3 slot="p3">3</h3> -->
            <template v-slot:p3><h3>3</h3></template>
        </cpn>

      
    </div>

    <script>


        const cpn = {
            template: '#cpnid',
        }


        const app = new Vue({
            el: '#app',
            data: {

            },
            methods: {

            },
            components: {
                'cpn': cpn
            }

        })

    </script>
</body>

</html>